
.icon-mail:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */